:root {
    --adoblue: #1a202c;
    --red: #bc4b51;
    --green: #5B8E7D;
    --orange: #faa84b;
    --yellow: #f4e285;
    --lime: #8cb369;
    --grey: rgb(121, 121, 121);
    --blue: rgb(68, 164, 243);
}

body {
    background-color: var(--adoblue);
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Anonymous Pro', monospace;
    font-family: 'Lato', sans-serif;
}



.calculator {
    width: 40em;
    height: 79em;
    padding: 1em;
    border: solid var(--red);
    background: rgb(63, 58, 58);
}

.display {
    width: 90%;
    height: 15.7%;
    margin: auto;
    margin: 5%;
    border: solid var(--red);
    background-color: var(--green);
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 100px;
    font-weight: bolder;
    
}

.input {
    margin-top: 20%;
}

.numbers {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    

}

.btn {
    display: flex;
    width: auto;
    height: 9.8em;
    background-color: var(--grey);
    justify-content: center;
    align-items: center;
    margin: .1em;
    font-size: large ;
    font-family: 'Anonymous Pro', monospace;
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
}

.num-btn.btn {
    background-color: var(--blue);
}

.f-btn.btn {
    background-color: var(--orange);
}